body{
  background-image: url('../img/bunny.png');
  background-attachment: fixed;
  background-position-x: -1in;
  background-position-y: -1in;
  background-repeat: repeat-x;
}
main{
  position: relative;
}

.grid-link{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10%;
}

.tt-icon{
  width: 320px;
  height: auto;
  display: grid;
  max-width: 100%;
}

.yt-icon{
  width: 400px;
  height: auto;
  display: grid;
  max-width: 100%;
}

.ig-icon{
  width: 300px;
  height: auto;
  display: grid;
  max-width: 100%;
}

.tt-icon:hover,
.yt-icon:hover,
.ig-icon:hover{
  transform: rotate(15deg);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(22, 22, 24);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
  position: absolute;
  top: 150px;
  left: 180px;
  z-index: 1;
}

.tooltip:hover .tooltiptext,
.tooltip2:hover .tooltiptext2,
.tooltip3:hover .tooltiptext3  {
  visibility: visible;
}

.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 120px;
  background-color: rgb(22, 22, 24);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
  position: absolute;
  top: 350px;
  left: 500px;
  z-index: 1;
}

.tooltip3 .tooltiptext3 {
  visibility: hidden;
  width: 120px;
  background-color: rgb(22, 22, 24);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
  position: absolute;
  top: 150px;
  right: 250px;
  z-index: 1;
}

.wc{
  font-size: 64px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background-color: white;
  margin: 12rem 25% 2rem 25%;
  border-radius: 15px;
}

@media screen and (min-width: 901px) {
  div.wc {
    font-size: 80px;
  }
}


@media screen and (max-width: 900px) {
  div.wc {
    margin-top: 14rem;
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  div.grid-link {
    margin-top: 60px;
  }
}

footer{
  margin-top: 2rem;
  text-align: center;
  background-color: white;
  margin-bottom: 0;
  padding: 0;
}